
{% extends 'base.html.twig' %}
   
{% block body %}

<!-- tour packages -->
<section class="packages pt-5">
    <div class="container py-lg-4 py-sm-3">
        <h2 class="heading text-capitalize text-center"> Choose your product</h2>
        <p class="text mt-2 mb-5 text-center">By EpicJourneys</p>
        <div class="row">
            {% for produit in pagination %}
                <div class="col-lg-3 col-sm-6 mb-5">
                    <div class="image-tour position-relative">
                        <img src='{{ asset(produit.image) }}'  alt="" class="img-fluid" />
                        <p><span class="fa fa-tags"></span> <span>{{ produit.prixUnitaire }}$</span></p>
                    </div>
                    <div class="package-info">
                        <p class="">Our stock: {{ produit.stock }}</p>
                        {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_GUIDE') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('produit_commande', {'id': produit.id}) }}">Book now</a>
                        {% else %}
                        if you wanna book you shoold go to :
                    <a href="{{ path('app_login') }}"> login</a>
                        {% endif %}
                      
                    </div>
                </div>
            {% endfor %} 

            <div class="col-12">
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}