
{% extends 'base.html.twig' %}
   
{% block body %}

    
    <style>
        .cadre
        {
            position: absolute;
            width: 1335px;
            height: 903px;
           /* left: 132px;
            top: 148px;*/
            left: 163px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .nameshop
        {
            position: absolute;
            width: 65px;
            height: 34px;
            left: 50px;
            top: 27px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
    
            color: #000000;
    
        }
        .title
        {
            position: absolute;
            width: 574px;
            height: 50px;
            left: 350px;
           /* top: 179px;*/
    
            font-family: 'Copperplate';
            font-style: normal;
            font-weight: 400;
            font-size: 79px;
            line-height: 81px;
            text-align: center;
            letter-spacing: 0.25em;
    
            color: #000000;
    
        }
        .search
        {
            position: absolute;
            width: 90px;
            height: 34px;
            left: 1000px;
            top: 34px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
    
            color: #000000;
            border-radius: 9px;
            text-align: center;
        }
        .image
        {
            position: absolute;
            width: 75px;
            height: 46px;
            left: 1200px;
            top: 34px;
        }
        .ellipse
        {
            position: absolute;
            width: 33px;
            height: 33px;
            left: 1258px;
            top: 21px;
    
            
        }
        .count
        {
            position: absolute;
            width: 23px;
            height: 23px;
            left: 1270px;
            top: 28px;
            z-index: 1;
        }
        .line
        {
            position: absolute;
            width: 1333px;
            height: 0px;
            top: 112px;
            border: 1px solid #000000;
        }
        .card
        {
          
                position: relative;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 717px;
                margin-bottom: 251px;
                
        }
        
        .name
        {
            position: absolute;
            width: 227px;
            height: 54px;
            left: 51px;
            top: 144px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 54px;
    
            color: #000000;
    
        }
        .product
        {
            position: absolute;
            width: 209px;
            height: 209px;
            left: 54px;
            top: 253px;
    
        }
        .product-name
        {
            position: absolute;
            width: 389px;
            height: 56px;
            left: 282px;
            top: 255px;
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 28px;
            color: #000000;
        }
        .size
        {
            position: absolute;
            width: 200px;
            height: 41px;
            left: 286px;
            top: 336px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
            color: #000000;
        }
        .qty
        {
            position: absolute;
            width: 86px;
            height: 41px;
            left: 285px;
            top: 424px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 41px;
            color: #000000;
        }
        .price
        {
            position: absolute;
            width: 133px;
            height: 47px;
            left: 697px;
            top: 429px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 47px;
    
            color: #000000;
    
        }
        .delete
        {
            position: absolute;
            width: 8px;
            height: 47px;
            left: 797px;
            top: 249px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 47px;
    
            color: #000000;
    
        }
    
        .checkout
        {
            position: absolute;
            width: 417px;
            height: 470px;
            left: 874px;
            top: 162px;
    
            background: #D9F2EB;
        }
        .total-card
        {
            
            width: 368px;
            height: 117px;
            left: 1016px;
            top: 526px;
        }
        .promo
        {
           
            width: 373px;
            height: 93px;
            left: 1015px;
            top: 386px;
        }
        .promo-title
        {
            position: absolute;
            width: 279px;
            height: 27px;
            left: 33px;
            top: 33px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .promo-text
        {
            position: absolute;
            width: 352px;
            height: 58px;
            left: 33px;
            top: 90px;
    
            background: #FFFFFF;
            box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25);
        }
        .subtotal
        {
            position: absolute;
            width: 63px;
            height: 27px;
            left: 33px;
            top: 220px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .subtotal-price
        {
            position: absolute;
            width: 72px;
            height: 27px;
            left: 328px;
            top: 220px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .shipping
        {
            position: absolute;
            width: 211px;
            height: 27px;
            left: 33px;
            top: 261px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .shipping-price
        {
            position: absolute;
            width: 45px;
            height: 27px;
            left: 328px;
            top: 261px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .total
        {
            position: absolute;
            width: 40px;
            height: 27px;
            left: 33px;
            top: 302px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .total-price
        {
            position: absolute;
            width: 78px;
            height: 27px;
            left: 328px;
            top: 302px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .btn
        {
            position: absolute;
            width: 373px;
            height: 58px;
            left: 33px;
            top: 371px;
            background: #808785;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            cursor: pointer;
        }
    </style>
    <!-- Contact -->
    <a href="{{ path('retourToBook', {'id': fadit.eventId}) }}">
        <button style="padding: 10px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">
            Retour
        </button>
    </a>
    <section class="contact py-5">
        <div class="container py-lg-5 py-sm-3">
            <h2 class="heading text-capitalize text-left mb-sm-5 mb-4"> if you are sur go to book==: </h2>
            <div class="row justify-content-center"> <!-- Center the form -->
              


                <section>
                    <div class="checkout">
                       <div class="total-card">
                        ////////////////////////////////////////////////////////////////////////////////////////////////
                        <a href="{{path('achref', {'id': fadit.id , 'prix':fadit.prixR})}}">
                            <button style="padding: 10px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">
                                use point
                            </button>
                       /////////////////////////////////////////////////////////////////////////////////////////////
                          <span class="subtotal"> adults:</span>
                          <span class="subtotal-price">{{fadit.nbAdults}}</span>
                          <span class="shipping"> kids:</span>
                          <span class="shipping-price">{{fadit.nbKids}}</span>
                          <span class="total">total </span>
                          <span class="total-price">{{fadit.prixR}}$</span>
                          

            
                          <form action="{{path('app_payment', {'idR': fadit.id})}}" method="post">
                        
                           <input type="hidden" name="token"  value="{{csrf_token('myform')}}">
            
                           <input type="hidden" name="amount"  value="1120.6">
            
                          <button class="btn">
                            <span style="font-weight:800; font-size:x-large">Pay with paypal</span>
                          </button>
                          </form>
                      
                       </div>
                    </div>
                </section>

            </div>
        </div>
    </section>
    
    
        </div>
    </section>
    {% endblock %}
