<!--
    author: W3layouts
    author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
    -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <title>Grand Tour Travel Category Flat Bootstrap Responsive Web Template | Contact :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        
    {# css files #}
    <link href="{{ asset('css/bootstrap.css') }}" rel='stylesheet' type='text/css'><!-- bootstrap css -->
    <link href="{{ asset('css/style.css') }}" rel='stylesheet' type='text/css'><!-- custom css -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"><!-- fontawesome css -->
    {# //css files #}
    
    {# google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    {# //google fonts #}
    
    
    </head>
    <body>
    
    <!-- header -->
    <header>
        <div
            class="container">
            <!-- nav -->
            <nav class="py-md-4 py-3 d-lg-flex">
                <div id="logo">
                    <h1 class="mt-md-0 mt-2">
                        <a href="index.html">
                            <span class="fa fa-map-signs"></span>
                            Epic Journeys
                        </a>
                    </h1>
                </div>
                <label for="drop" class="toggle">
                    <span class="fa fa-bars"></span>
                </label>
                <input type="checkbox" id="drop"/>
                <ul class="menu ml-auto mt-1">
                    <li class="">
                        <a href="{{ path('app_default') }}">Home</a>
                    </li>
                    <li class="">
                        <a href="#">Notice</a>
                    </li>
                    <li class="">
                        <a href="{{ path('slist_evennement') }}">Events</a>
                    </li>
                    <li class="">
                        <a href="#">Shop</a>
                    </li>
                    <li class="">
                        <a href="#">Fidelity card</a>
                    </li>
                    <li class="">
                        <a href="#">Services</a>
                    </li>

                    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_GUIDE') or is_granted('ROLE_ADMIN') %}
                        <li class="">
                            <a href="{{ path('app_user_profil') }}">Profile</a>
                        </li>
                        <li class="">
                            <a href="{{ path('app_avis_user') }}">Avis</a>
                        </li>
                    {% endif %}
                    &nbsp;
                    {% if not is_granted('ROLE_CLIENT') and not is_granted('ROLE_GUIDE') and not is_granted('ROLE_ADMIN') %}
                        <li class="">
                            <a href="{{ path('app_register') }}">Sign Up</a>
                        </li>
                        <li class="booking">

                            <a href="{{ path('app_login') }}">Sign In</a>
                        </li>
                    {% else %}
                        <li class="booking">
                            <a href="{{ path('app_logout') }}">
                                <div>Log out</div>
                            </a>
                        </li>
                    {% endif %}


                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    
    <!-- banner -->
    <section class="banner_inner" id="home">
        <div class="banner_inner_overlay"></div>
    </section>
    <!-- //banner -->
    <style>
        .cadre
        {
            position: absolute;
            width: 1335px;
            height: 903px;
           /* left: 132px;
            top: 148px;*/
            left: 163px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .nameshop
        {
            position: absolute;
            width: 65px;
            height: 34px;
            left: 50px;
            top: 27px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
    
            color: #000000;
    
        }
        .title
        {
            position: absolute;
            width: 574px;
            height: 50px;
            left: 350px;
           /* top: 179px;*/
    
            font-family: 'Copperplate';
            font-style: normal;
            font-weight: 400;
            font-size: 79px;
            line-height: 81px;
            text-align: center;
            letter-spacing: 0.25em;
    
            color: #000000;
    
        }
        .search
        {
            position: absolute;
            width: 90px;
            height: 34px;
            left: 1000px;
            top: 34px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
    
            color: #000000;
            border-radius: 9px;
            text-align: center;
        }
        .image
        {
            position: absolute;
            width: 75px;
            height: 46px;
            left: 1200px;
            top: 34px;
        }
        .ellipse
        {
            position: absolute;
            width: 33px;
            height: 33px;
            left: 1258px;
            top: 21px;
    
            
        }
        .count
        {
            position: absolute;
            width: 23px;
            height: 23px;
            left: 1270px;
            top: 28px;
            z-index: 1;
        }
        .line
        {
            position: absolute;
            width: 1333px;
            height: 0px;
            top: 112px;
            border: 1px solid #000000;
        }
        .card
        {
          
                position: relative;
                display: inline-flex;
                flex-direction: column;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 717px;
                margin-bottom: 251px;
                
        }
        
        .name
        {
            position: absolute;
            width: 227px;
            height: 54px;
            left: 51px;
            top: 144px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 54px;
    
            color: #000000;
    
        }
        .product
        {
            position: absolute;
            width: 209px;
            height: 209px;
            left: 54px;
            top: 253px;
    
        }
        .product-name
        {
            position: absolute;
            width: 389px;
            height: 56px;
            left: 282px;
            top: 255px;
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 28px;
            color: #000000;
        }
        .size
        {
            position: absolute;
            width: 200px;
            height: 41px;
            left: 286px;
            top: 336px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 41px;
            color: #000000;
        }
        .qty
        {
            position: absolute;
            width: 86px;
            height: 41px;
            left: 285px;
            top: 424px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 41px;
            color: #000000;
        }
        .price
        {
            position: absolute;
            width: 133px;
            height: 47px;
            left: 697px;
            top: 429px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 47px;
    
            color: #000000;
    
        }
        .delete
        {
            position: absolute;
            width: 8px;
            height: 47px;
            left: 797px;
            top: 249px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 47px;
    
            color: #000000;
    
        }
    
        .checkout
        {
            position: absolute;
            width: 417px;
            height: 470px;
            left: 874px;
            top: 162px;
    
            background: #D9F2EB;
        }
        .total-card
        {
            
            width: 368px;
            height: 117px;
            left: 1016px;
            top: 526px;
        }
        .promo
        {
           
            width: 373px;
            height: 93px;
            left: 1015px;
            top: 386px;
        }
        .promo-title
        {
            position: absolute;
            width: 279px;
            height: 27px;
            left: 33px;
            top: 33px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .promo-text
        {
            position: absolute;
            width: 352px;
            height: 58px;
            left: 33px;
            top: 90px;
    
            background: #FFFFFF;
            box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25);
        }
        .subtotal
        {
            position: absolute;
            width: 63px;
            height: 27px;
            left: 33px;
            top: 220px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .subtotal-price
        {
            position: absolute;
            width: 72px;
            height: 27px;
            left: 328px;
            top: 220px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .shipping
        {
            position: absolute;
            width: 211px;
            height: 27px;
            left: 33px;
            top: 261px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .shipping-price
        {
            position: absolute;
            width: 45px;
            height: 27px;
            left: 328px;
            top: 261px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .total
        {
            position: absolute;
            width: 40px;
            height: 27px;
            left: 33px;
            top: 302px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
    
        }
        .total-price
        {
            position: absolute;
            width: 78px;
            height: 27px;
            left: 328px;
            top: 302px;
    
            font-family: 'Darker Grotesque';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
    
            color: #000000;
        }
        .btn
        {
            position: absolute;
            width: 373px;
            height: 58px;
            left: 33px;
            top: 371px;
            background: #808785;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            cursor: pointer;
        }
    </style>
    <!-- Contact -->
    <a href="{{ path('retourToBook', {'id': fadit.eventId}) }}">
        <button style="padding: 10px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">
            Retour
        </button>
    </a>
    <section class="contact py-5">
        <div class="container py-lg-5 py-sm-3">
            <h2 class="heading text-capitalize text-left mb-sm-5 mb-4"> if you are sur go to book==: </h2>
            <div class="row justify-content-center"> <!-- Center the form -->
              


                <section>
                    <div class="checkout">
                       <div class="total-card">
                           <div class="promo">
                              <span class="promo-title">enter promo code</span>
                              <input class="promo-text" type="text" placeholder="">
                           </div>
                          <span class="subtotal"> adults:</span>
                          <span class="subtotal-price">{{fadit.nbAdults}}</span>
                          <span class="shipping"> kids:</span>
                          <span class="shipping-price">{{fadit.nbKids}}</span>
                          <span class="total">total </span>
                          <span class="total-price">{{fadit.prixR}}$</span>
                          

            
                          <form action="{{path('app_payment', {'idR': fadit.id})}}" method="post">
                        
                           <input type="hidden" name="token"  value="{{csrf_token('myform')}}">
            
                           <input type="hidden" name="amount"  value="1120.6">
            
                          <button class="btn">
                            <span style="font-weight:800; font-size:x-large">Pay with paypal</span>
                          </button>
                          </form>
                      
                       </div>
                    </div>
                </section>

            </div>
        </div>
    </section>
    
    
        </div>
    </section>
    <!-- //Contact -->
    
    
    
    <!--footer -->
    <footer>
    <section class="footer footer_w3layouts_section_1its py-5">
        <div class="container py-lg-4 py-3">
            <div class="row footer-top">
                <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Address</h3>
                    </div>
                    <div class="footer-text">
                        <p>Location : 1234 lock, Charlotte, North Carolina, United States</p>
                        <p>Phone : +12 534894364</p>
                        <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
                        <p>Fax : +12 534894364</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
                    <div class="footer-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="footer-text">
                        <p>Vivamus magna justo, laci niats eget consectetur sed, conval lis at tellus. Nulla quis lorem ipnt libero.
                        Lorem ipsum dolor.</p>
                    </div>
                    <ul class="social_section_1info">
                        <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="google"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Travel Places</h3>
                    </div>
                    <div class="row">
                        <ul class="col-6 links">
                            <li><a href="#choose" class="scroll">New Zealand </a></li>
                            <li><a href="#overview" class="scroll">Paris, France </a></li>
                            <li><a href="#pricing" class="scroll">Los Angles</a></li>
                            <li><a href="#faq" class="scroll"> Darlington</a></li>
                            <li><a href="#testimonials" class="scroll">Canada </a></li>
                            <li><a href="#contact" class="scroll"> South Africa </a></li>
                        </ul>
                        <ul class="col-6 links">
                            <li><a href="#">Spain </a></li>
                            <li><a href="#">Turkey </a></li>
                            <li><a href="#faq" class="scroll">Europe </a></li>
                            <li><a href="#">Italy </a></li>
                            <li><a href="#">Sweden </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
                    <div class="footer-title">
                        <h3>Newsletter</h3>
                    </div>
                    <div class="footer-text">
                        <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                        <form action="#" method="post">
                            <input type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </footer>
    <!-- //footer -->
    
    <!-- copyright -->
    <div class="copyright py-3 text-center">
        <p>© 2019 Grand Tour. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="=_blank"> W3layouts </a></p>
    </div>
    <!-- //copyright -->
    
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top"> 
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->
    
        
    </body>
    </html>