{% extends 'base-back.html.twig' %}

{% block title %}Avis Client
{% endblock %}

{% block body %}
	<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
		<div class="container">
			<div class="az-content-left az-content-left-components">
				<div class="component-item">
					<label>Tables</label>
					<nav class="nav flex-column">
						<a href="{{ path('app_avis_index') }}" class="nav-link active">users</a>
					</nav>
				</div>
				<!-- component-item -->
			</div>
			<!-- az-content-left -->
			<div class="az-content-body pd-lg-l-30 d-flex flex-column">
				<div class="az-content-breadcrumb">
					<span>Manage</span>
					<span>users</span>
					<span>Edit
					</span>
				</div>
				<h2 class="az-content-title">
					Edit User

				</h2>
				{{ form_start(form) }}

				<div class="row mb-3">
					<label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
					<div class="col-sm-8">
						{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>


				<div class="row mb-3">
					<label for="inputNom" class="col-sm-4 col-form-label">Nom</label>
					<div class="col-sm-8">
						{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>

				<div class="row mb-3">
					<label for="inputPrenom" class="col-sm-4 col-form-label">Prenom</label>
					<div class="col-sm-8">
						{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.prenom, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>

				<div class="row mb-3">
					<label for="inputDateNaissance" class="col-sm-4 col-form-label">Date de naissance</label>
					<div class="col-sm-8">
						{{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.dateNaissance, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>

				<div class="row mb-3">
					<label for="inputGenre" class="col-sm-4 col-form-label">Genre</label>
					<div class="col-sm-8">
						{{ form_widget(form.genre, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.genre, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>


				<div class="row mb-3">
					<label for="inputTelephone" class="col-sm-4 col-form-label">Téléphone</label>
					<div class="col-sm-8">
						{{ form_widget(form.numeroTelephone, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(form.numeroTelephone, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>

				<div class="row mb-3">
					<label for="inputRole" class="col-sm-4 col-form-label">Role</label>
					<div class="col-sm-8">
						{{ form_widget(form.role, {'attr': {'class': 'form-control form-select'}}) }}
						{{ form_errors(form.role, {'attr': {'class': 'text-danger'}}) }}
					</div>
				</div>

				{{ form_end(form) }}


			{% endblock %}
