{% extends 'base-back.html.twig' %}

{% block title %}List of Users
{% endblock %}
{% block body %}
	<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
		<div class="container">
			<div class="az-content-left az-content-left-components">
				<div class="component-item">
					<label>Tables</label>
					<nav class="nav flex-column">
						<a href="{{ path('app_user_index') }}" class="nav-link active">Users</a>
					</nav>
				</div>
				<!-- component-item -->
			</div>
			<!-- az-content-left -->
			<div class="az-content-body pd-lg-l-30 d-flex flex-column">
				<div class="az-content-breadcrumb">
					<span>Manage</span>
					<span>Users</span>
					<span>List</span>
				</div>
				<h2 class="az-content-title">
					List OF Users

				</h2>
				
				
				<input type="text" id="searchInput" placeholder="Search">
<button id="searchButton" class="btn btn-primary" style="width: 200px; padding: 5px;">Search</button>
<td>.................................................................................................................................................................................................................................................................................................</td>


				<div class="table-responsive">
					<table class="table card-table table-vcenter table-mobile-md text-nowrap datatable">
						<thead>
							<tr>
								<th>Email</th>
								<th>Roles</th>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Numero Telephone</th>
								<th>Date Naissance</th>
								<th>Genre</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody id="userTableBody">
    {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.numeroTelephone }}</td>
            <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
            <td>{{ user.genre }}</td>
            <td class="btn-icon-list">
                <a class="btn btn-success btn-icon" href="{{ path('app_user_show', {'id': user.id}) }}">
                    <i class="typcn typcn-eye-outline"></i>
                </a>
                <a class="btn btn-warning btn-icon" href="{{ path('app_user_edit', {'id': user.id}) }}">
                    <i class="typcn typcn-document-add"></i>
                </a>
            </td>
        </tr>
    {% endfor %}

    {% if users is empty %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endif %}
</tbody>
	</table>
	 <a href="{{ path('generate_pdf') }}" class="btn btn-primary">Générer PDF</a>
<a href="{{ path('export_data') }}" class="btn btn-primary">Exporter vers Excel</a>
	{# <a href="{{ path('app_user_new') }}">Create new</a> #}
</div>
<div class="ht-40">
</div>
</div>
</div>
</div>

 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").keyup(function (e) {
            var value = $(this).val();

            $.ajax({
                url: "{{ path('app_user_search') }}",
                type: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-Requested-With': 'XMLHttpRequest',
                },
                data: {
                    'searchTerm': value,
                },
                success: function (data) {
                    var users = data.users;
                    var tableBody = $('#userTableBody');
                    tableBody.empty();

                    if (users.length > 0) {
                        users.forEach(function (user) {
                            var row = $('<tr>');
                            var idCell = $('<td>').text(user.id);
                            row.append(idCell);

                            var usernameCell = $('<td>').text(user.username);
                            row.append(usernameCell);

                            var emailCell = $('<td>').text(user.email);
                            row.append(emailCell);
							
							var prenomCell = $('<td>').text(user.prenom);
                            row.append(prenomCell);

							var numeroTelephoneCell = $('<td>').text(user.numeroTelephone);
                            row.append(numeroTelephoneCell);

							var dateNaissanceCell = $('<td>').text(user.dateNaissance);
                            row.append(dateNaissanceCell);

							var genreCell = $('<td>').text(user.genre);
                            row.append(genreCell);

							var actionsCell = $('<td>').text(user.actions);
                            row.append(actionsCell);

                            // Add more cells as needed based on your user entity

                            tableBody.append(row);
                        });
                    } else {
                        var noRecordsRow = $('<tr>');
                        var noRecordsCell = $('<td>').attr('colspan', '3').text('No records found');
                        noRecordsRow.append(noRecordsCell);
                        tableBody.append(noRecordsRow);
                    }
                },
            });
            return false;
        });
    });
</script>

{% endblock %}
