{% extends 'base-back.html.twig' %}   
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau.css') }}">
    <!-- Lien vers Font Awesome via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block title %}Ajouter un sponsor{% endblock %}

{% block body %} 

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.nomsponsor) }}
    {{ form_errors(form.nomsponsor) }}

    {{ form_row(form.secteurdactivite) }}
    {{ form_errors(form.secteurdactivite) }}

    {{ form_row(form.adressesponsor) }}
    {{ form_errors(form.adressesponsor) }}

    {{ form_row(form.numtelsponsor) }}
    {{ form_errors(form.numtelsponsor) }}

    {{ form_row(form.emailsponsor) }}
    {{ form_errors(form.emailsponsor) }}

    {{ form_row(form.duree) }}
    {{ form_errors(form.duree) }}

    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
