{% extends 'base-back.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau.css') }}">
    <!-- Lien vers Font Awesome via CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block body %}
    <h1>Liste des sponsors</h1>
    <button type="button" onclick="window.location='{{ path('sponsor_add') }}'" class="btn btn-success mb-3">Ajouter</button>

    <table class="table custom-table">
        <thead>
            <tr>
                <th>Nom du sponsor</th>
                <th>Secteur d'activité</th>
                <th>Adresse du sponsor</th>
                <th>Numéro de téléphone</th>
                <th>Email du sponsor</th>
                <th>Durée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sponsor in sponsors %}
                <tr>
                    <td>{{ sponsor.nomsponsor }}</td>
                    <td>{{ sponsor.secteurdactivite }}</td>
                    <td>{{ sponsor.adressesponsor }}</td>
                    <td>{{ sponsor.numtelsponsor }}</td>
                    <td>{{ sponsor.emailsponsor }}</td>
                    <td>{{ sponsor.duree }}</td>
                    <td>
                        <form action="{{ path('sponsor_edit', {'id': sponsor.idsponsor}) }}" method="GET">
                            <button type="submit" class="btn btn-info">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form action="{{ path('sponsor_delete', {'id': sponsor.idsponsor}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce sponsor ?')">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsor.idsponsor) }}">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
