{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block h3 %}Sign up{% endblock %}
{% block h4 %}Create your Account{% endblock %}
{% block buttons %}{% endblock %}

{% block body %}

<section class="contact py-5">
    <div class="container py-lg-5 py-sm-3">
        <h2 class="heading text-capitalize text-center mb-sm-5 mb-4"> Sign Up </h2>
        <div class="row justify-content-center"> <!-- Center the form -->
            <div class="col-lg-6 col-md-6 contact-left-form">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, { attr: { novalidate: 'novalidate' } }) }}
                
                <div class="mb-3">
                    <label for="inputDate" class="form-label">Email</label>
                    {{ form_widget(registrationForm.email, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.email, { attr: { class: 'text-danger' } }) }}
                </div>
                
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    {{ form_widget(registrationForm.plainPassword, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.plainPassword, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <label for="inputNom" class="form-label">Nom</label>
                    {{ form_widget(registrationForm.nom, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.nom, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <label for="inputPrenom" class="form-label">Prenom</label>
                    {{ form_widget(registrationForm.prenom, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.prenom, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <label for="inputDateNaissance" class="form-label">Date de naissance</label>
                    {{ form_widget(registrationForm.dateNaissance, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.dateNaissance, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <label for="inputGenre" class="form-label">Genre</label>
                    {{ form_widget(registrationForm.genre, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.genre, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <label for="inputTelephone" class="form-label">Téléphone</label>
                    {{ form_widget(registrationForm.numeroTelephone, { attr: { class: 'form-control' } }) }}
                    {{ form_errors(registrationForm.numeroTelephone, { attr: { class: 'text-danger' } }) }}
                </div>

                <div class="mb-3">
                    <div class="form-check">
                        {{ form_widget(registrationForm.agreeTerms) }}
                        <label class="form-check-label" for="agreeTerms">I agree to the terms</label>
                    </div>
                    {{ form_errors(registrationForm.agreeTerms, { attr: { class: 'text-danger' } }) }}
                </div>

                <br/>
                
                {{ form_end(registrationForm) }}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
